header{
    display: flex;
}

.header__me{
    padding-left: 20px;
}

.header_title{
	font-size: 3em;
}

hr{
	display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 2px;
    border-color: #7d97ad;
}

.filler_pic{
    width: -webkit-fill-available;
    height: 400px;
}

h2{
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #7d97ad;
}

.Project2{
    float: left;
}

.Project3{
    float: left;
    padding: 20px;
}

.Project4{
    float: right;
}

.dota-pic{
    width: 240px;
    height: 210px;
}

.clipboard-pic{
    width: 240px;
    height: 210px;
}